{% load static %}
<table align="center" border="0" width="80%">
    <tr>
        <th>
            <h1>
                Restaurants in Your Pocket
            </h1>
            <h5>
                Order from your favorite restaurants & track on the go, with the all-new OFO app.
            </h5>
        </th>
        <th>
            <img src="{% static 'images/mobile.png'%}" width="350" height="400">
        </th>
        <th>
            <img src="{% static 'images/iPhone_wgconp_j0d1fn.png'%}" width="350" height="400">
        </th>
    </tr>
    <tr>
        <th>
          <img src="{% static 'images/play_ip0jfp.png' %}" width="150" height="50">
          <img src="{% static 'images/iOS_ajgrty.png' %}"width="150" height="50">
        </th>
    </tr>
</table>