{% extends 'common.html' %}
{% block menu %}
    {% include 'menu/main_menu.html' %}
{% endblock %}

{% block body %}
    <div class="container" style="text-align: right">
         <div class="row">
             <div class="col">
                 <h2>
                     To-ReachUs
                 </h2>
             </div>
         </div>
         <div class="row">
             <div class="col">
                 <h3>Guntur,
                     Andhra Pradhesh,
                     India..
                     Pincode : 520001
                 </h3>
             </div>
         </div>
      </div>

      <table class="table-success" border="0">
         <tr>
             <th>
             <h3> ContactUs - Eswar Online Food </h3>
             </th>
         </tr>
         <tr>
             <th>
             Enter Your Name : <input type="text" required>
             </th>
         </tr>
          <tr>
             <th>
             Enter Your Name : <input type="number" required>
             </th>
         </tr>
         <tr>
             <th>
                Enter Your Email : <input type="email" required>
             </th>
         </tr>
         <tr>
             <th colspan="3" >
                 Write a FeedBack :
                 <textarea type="text" required></textarea>
             </th>
         </tr>
         <tr>
             <th style="text-align: center">
                 <button type="submit" class="btn-primary"> Submit FeedBack </button>
             </th>
         </tr>
      </table>

{% endblock %}