

<html>
    <body>
        <table align="center">
            <tr><th><h1>Ajax Example</h1></th></tr>
            <tr>
                <th>
                    <form action="{% url 'req_one' %}">
                        <button type="submit">One</button>
                    </form>
                </th>
            </tr>

            <tr>
                <th>
                    <form action="{% url 'req_two' %}">
                    <button type="submit">Two</button>
                    </form>
                </th>
            </tr>
        </table>
    </body>
</html>